<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>


<body>
    <div class="header">
        <div class="row">
            <div class="header-name">療癒之森</div>
            <div class="header-btn">
                <img src="" alt="" class="head-img">
                <button class="glyphicon glyphicon-envelope"></button>
                <button class="glyphicon glyphicon-bell"></button>
            </div>
        </div>
    </div>
    <div class="index">
        <div id="index-name" class="index-name">暱稱,早上好</div>
        <div class="index-list">
            <a href="" class="hint">工作</a>
            <a href="" class="hint">健康</a>
            <a href="" class="hint">學業</a>
            <a href="" class="hint">家庭</a>
            <a href="" class="hint">經濟</a>
        </div>
    </div>



        @RenderBody()
        <footer>
            <div class="information">
                <p>開發人員:</p>
                <p>連絡電話:</p>
                <p>電子信箱:</p>
            </div>
            <div class="information-buttom"><p>&#169 2023-療癒之森</p></div>
        </footer>



</body>
</html>
