<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入後首頁</title>
</head>


<body>
    <div class="header">
        <div class="row">
            <div class="header-name">療癒之森</div>

        </div>
    </div>



    @RenderBody()
    <footer>
        <div class="information">
            <p>開發人員:</p>
            <p>連絡電話:</p>
            <p>電子信箱:</p>
        </div>
        <div class="information-buttom"><p>&#169 2023-療癒之森</p></div>
    </footer>



</body>
</html>
