<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>


<body>
    <div class="header">
        <div class="row">
            <div class="header-name">療癒之森</div>
            <div class="header-list">
                <a href="" class="hint">工作</a>
                <a href="" class="hint">健康</a>
                <a href="" class="hint">學業</a>
                <a href="" class="hint">家庭</a>
                <a href="" class="hint">經濟</a>
            </div>
        </div>
    </div>


    @RenderBody()
    <footer>
        <hr>
        <p>&#169 pu.edu.tw 療癒之森</p>
    </footer>


</body>
</html>
