@{       
    ViewBag.Title = "Loginpage";
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";
}



<style>

    body {
        background-color: #DBF0D0;
    }


    .row {
        width: 100%;
        columns: 2;
    }

    .header {
        height: 50px;
        background-color: #A4DA8A;
        display: flex;
        justify-items: flex-start;
        align-items: center;
    }

    .header-name {
        color: white;
        width: 100%;
        height: 100%;
        font-family: fantasy;
        font-size: 30px;
        padding-left: 50px;
    }

    .header-btn {
        display: flex;
        float: right;
    }

        .header-btn .head-img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            background-color: rgb(221, 219, 219);
            border-radius: 100%;
        }

        .header-btn .glyphicon {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

    .index {
        background-color: #bebcbc;
        width: 100%;
        height: 40px;
        columns: 2;
        border-radius: 0px 0px 15px 15px;
    }

    .index-name {
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-family: DFKai-sb;
        display: flex;
        align-items: center;
        padding-left: 15px;
    }

    .index-list {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        float: right;
    }

        .index-list a {
            font-size: 15px;
            color: white;
            text-decoration: none;
        }

            .index-list a:hover {
                color: green;
            }

    .container {
        width: 100%;
        height: 740px;
        background-color: #e7fbdd;
    }



    footer .information {
        width: 100%;
        height: 100px;
        background-color: #A4DA8A;
    }

        footer .information p {
            font-weight: 900;
            font-size: 15px;
            line-height: 10px;
            text-align: center;
            position: relative;
            top: 40%;
            transform: translate(0,-100%);
            color: white;
        }


    footer .information-buttom p {
        height: 40px;
        font-size: 20px;
        font-weight: 700;
        background-color: #6D935C;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>



<div class="container"></div>

