
@{
    ViewBag.Title = "發布文章";
    Layout = "~/Views/Shared/_LayoutPostArticle.cshtml";
}

<style>

    body {
        background-color: #DBF0D0;
    }

    .header {
        height: 75px;
        background-color: #A4DA8A;
        display: flex;
        border-radius: 10px;
        position: sticky;
        top: 0;
    }

    .header-name {
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-family: fantasy;
        font-size: 30px;
        padding-left: 50px;
    }

    .row {
        width: 100%;
        columns: 2;
    }

    .header-list {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        float: right;
    }

        .header-list a {
            font-size: 20px;
            padding-bottom: 10px;
            color: white;
            text-decoration: none;
        }

    .hint:hover {
        font-size: 25px;
        font-weight: 900;
        color: #2b7008;
    }

    .container {
        width: 60%;
        height: 525px;
        background-color: white;
        margin: 50px auto 50px auto;
        border-radius: 10px;
    }


    footer {
        position: relative;
        height: 3em;
        width: 100%;
        text-align: center;
        bottom: 0%;
    }

    .select {
        columns: 80px;
        margin: 0 0 0 5%;
    }

        .select p {
            font-size: large;
            font-weight: bold;
            font-family: fantasy;
        }

        .select select {
            margin-top: 17%;
            outline: 0;
            border: 0;
            background-color: antiquewhite;
            width: 10em;
            height: 3em;
            font-size: 10px;
            font-weight: bold;
            border-radius: 0.5em;
            padding: 0.5em;
            color: rgb(114, 113, 113);
        }

    .context {
    }

    .container .context input {
        display: flex;
        padding-left: 5%;
        padding-top: 1%;
        font-size: 20px;
        border: none;
        outline: none;
    }

    .container button {
        margin-top: 10%;
        margin-left: 90%;
        background-color: #A4DA8A;
        border-radius: 50px;
        width: 80px;
        height: 50px;
    }
</style>

<div class="container">

    <div class="select">
        <p>發布文章</p>
        <select name="" id="">
            <option selected disabled style="display: none;">選擇看板</option>
            <option value="工作版">工作版</option>
            <option value="健康版">健康版</option>
            <option value="學業版">學業版</option>
            <option value="家庭版">家庭版</option>
            <option value="經濟版">經濟版</option>
        </select>
    </div>

    <div class="context">
        <input type="text" name="標題" placeholder="標題">
        <br>
        <input type="text" name="內文" placeholder="內文">
        <br>
        <input type="text" name="圖片網址" placeholder="圖片網址">
    </div>
    <button type="submit">送出</button>
</div>
   
